<!DOCTYPE html>
<html>
    <head>
        <title>Daily Quote Application</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link type="text/css" rel="stylesheet" href="/static/highcharts/css/highcharts.css">
    </head>

    <body>
        <h2>Daily Quote Application</h2>
        <div class="card-panel">
            <form method="post">{% csrf_token %}
                <div class="row container red-text">
                    {{ form.non_field_errors }}
                </div>
                <div class="row">
                    <div class="col s12 m3 l3">
                        <div class="fieldWrapper">
                            {{ form.date_start.errors }}
                            <label for="{{ form.date_start.id_for_label }}">Date Start:</label>
                            {{ form.date_start }}
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="fieldWrapper">
                            {{ form.date_end.errors }}
                            <label for="{{ form.date_end.id_for_label }}">Date End:</label>
                            {{ form.date_end }}
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="fieldWrapper">
                            {{ form.currency.errors }}
                            <label for="{{ form.currency.id_for_label }}">Currency</label>
                            {{ form.currency }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 m3 l3">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Search
                            <i class="material-icons right">search</i>
                          </button>
                    </div>
                </div>

            </form>
        </div>
        <div class="card-panel">
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>

        </div>
        <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/static/highcharts/highcharts.js"></script>
        <script src="/static/highcharts/modules/series-label.js"></script>
        <script src="/static/highcharts/modules/exporting.js"></script>
        <script src="/static/highcharts/modules/export-data.js"></script>
        <script src="/static/highcharts/modules/accessibility.js"></script>
        <script>
        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Rates for {{ currency }}, from {{ dates.0 }} to {{ dates.1 }}'
            },

            subtitle: {
                text: 'Source: vatcomply.com'
            },
            yAxis: {
                title: {
                    text: 'Values'
                }
            },

            xAxis: {
                categories: {{ categories|safe }}
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },


            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    //pointStart: {{ dates.0.day }}
                }
            },


            series: {{ rates|safe }},

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
        </script>

    <script><!-- Init materialize elements -->
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems,{
                minDate: new Date(1999,0,4),
                maxDate: new Date(),
                yearRange: 30
            });
          });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
          });
    </script>
    </body>
</html>